.main-content__settings {
    width: 100%;
    background: #fff;
    border: 1px solid #ccd0d5;
    margin-top: 0.75em;
    border-radius: 4px;
    padding: 1em;

    @include el(header) {
        border-bottom: 1px solid #ccd0d5;
        @include el(title) {
            font-size: $primary-text-size;
            margin-bottom: 0.6em;
            text-transform: uppercase;
            color: #4b4f56;
            font-family: 'SF UI Text Medium';
        }
    }

    @include el(body) {
        display: flex;
        justify-content: space-between;
        margin: 1em 0;
        @include el(content) {
            width: 388px;
            background: #f1f1f1;
            padding: 1.56em;

            @include el(title) {
                color: #4b4f56;
                font-family: 'SF UI Text Medium';
                font-size: $primary-text-size;
                display: block;
                text-transform: capitalize;
                margin-bottom: 0.6em;
            }
            @include el(input) {
                display: block;
                font-size: $primary-text-size;
                margin-bottom: 1.7em;
                padding: 0.4em;
                width: 100%;
                border: 2px solid #d4d4d4;
            }
            @include el(button) {
                background: $addPost-topBtn-color;
                color: #fff;
                padding: 0.8em;
                border-radius: 2px;
                text-transform: capitalize;
            }
            @include el(msg) {
                display: inline-block;
                margin-left: 15px;
                color: #4b4f56;
                text-transform: capitalize;
            }
        }
    }

    &__body__content__input:focus {
        border-color: #acbdd1;
    }
}