// == FONT SIZES ==

$page-name-font-size: 1.301rem; // 20.8px
$section-title-font-size: 1.125rem; // 18px
$heading2-font-size: 1.05rem; // 16.8px
$heading1-font-size: 1.04rem; // 16.64px
$primary-text-size: 0.91rem; // 14.58px
$alternate-text-size: 0.9rem; // 14.4px
$btn-font-size: 0.82rem; // 13.12px
$header-item-font-size: 0.8rem; // 12.8px
$subtitle-font-size: 0.78125rem; // 12.5px
$link-font-size: 0.75rem; //12px

// == WIDTH / HEIGHT ==
$container-width: 1020px;
$header-height-login: 82px;
$logged-header-height: 62px;
$left-nav-width: 180px;
$main-content-width: 828px;
$distance-from-friends: 205px;
$timeline-width: 500px;
// $border-none: 0;

// == COLORS ==
$primary-color: #4267b2;
$primary-color-bg: #e9ebee;
$register-font-color: #333;
$home-font-color: #1d2129;
$topNav-icons-color: #1a2947;
$topNav-icons-hover-color: #060a10;
$topNav-btns-border-color: #3b5ca0;
$topNav-btns-hover-color: #3b5ca0;
$left-nav-btns-background: #f5f6f7;
$left-nav-btns-hover-bg: #dddfe2;
$main-contents-border-color: #ccd0d5;
$addPost-topBtn-color: #3578e5;
$posts-btn-color: #4b4f56;
$posts-downBtns-bg: #f7f3f3;
$posts-downBtns-bg-hover: #e8ebf1;